@IMPORT url("orangeTouch.css");

.dialog-content-sbnetwork-body {
	width: 95% !important; 
	padding: 0px;
	border: 1px solid #FFFFFF;
	margin-right:6px;
	margin-left:11px;
	margin-bottom:11px;
	margin-top:11px;
}

.otSBformRow .otmandatoryGroup{
  width: 8px;
  height:21px;
  position: absolute;
  margin-top:1px;
  
  background: url("../images/mandatory_body.png") repeat-y 0 0px;
  margin-left: -8px;
}
.otSBformRow .otmandatoryBorderTop{
  width: 7px;
  height: 14px;
  margin: -1px 0px 0px 1px;
  position: absolute;
  background: url("../images/mandatory_top_bottom.png") no-repeat top right;
}
.otSBformRow .otmandatoryBorderBottom{
  width: 7px;
  height:21px;
  margin: 0px 0px 0px 1px;
  position: absolute;
  background: url("../images/mandatory_top_bottom.png") no-repeat bottom right;
}
.otSBformRow .otasterisk{
  background: url("../images/mandatory_asterisk.png") no-repeat 0 50%;
  width: 8px;
  height: 23px;
  position: absolute;
  bottom: 1px;
  right: 0px;
  margin: -2px 0px;
}

.command-bar{
	padding:12px !important;

}

.command-bar input.button, .dialog-command-bar input.button {
	margin-bottom:0 !important;
	margin-top:0 !important;
	padding:0 6px;
	width:70px;
}

.otBgDialog .otmandatoryGroup{
  width: 8px;
  height:21px;
  position: absolute;
  margin-top:13px;  
  background: url("../images/mandatory_body.png") repeat-y 0 0px;
  margin-left: -8px;
}
.otBgDialog .otmandatoryBorderTop{
  width: 7px;
  height: 16px;
  margin: -1px 0px 0px 1px;
  position: absolute;
  background: url("../images/mandatory_top_bottom.png") no-repeat top right;
}
.otBgDialog .otmandatoryBorderBottom{
  width: 7px;
  height:21px;
  margin: 0px 0px 0px 1px;
  position: absolute;
  background: url("../images/mandatory_top_bottom.png") no-repeat bottom right;
}
.otBgDialog .otasterisk{
  background: url("../images/mandatory_asterisk.png") no-repeat 0 50%;
  width: 8px;
  height: 23px;
  position: absolute;
  bottom: 1px;
  right: 0px;
  margin: -2px 0px;
}

otSBDialog .dialog-command-bar {
	background-color:#D2D2D2;
	border-top:1px solid #666666;
	padding:12px;
	text-align:right;
}
.ajaxLoadingImage, .inventory-table-status, .map-status {
    position:absolute;
    margin-left: -58px;
    margin-top: -30px;
    background: white url("../images/ajax_progress.gif") no-repeat 5px 5px;
    padding: 6px 5px 5px 26px;
    border: 1px solid #797997;
    vertical-align: middle;
    /*to be on top of all other controls*/ 
    z-index: 9999;
}

.inventory-table-status{
    top: 95%;
    left: 50%;
}

.map-status{
    top: 50%;
    left: 55%;
}

.selectlabel {
	color:#000066;
	font-family:Arial,Verdana,sans-serif;
	font-size:10pt;
	margin-top:100px;
	padding-right:12px;
	position:relative;
	top:12px;
}
.rich-tree-node-selected {
	background-color:#FFFFFF !important;
}

.dr-mpnl-pnl {
    background-color: #FFFFFF;
    border-color: #000000;
}
.delete-dialog-content-body{
	font-size: 10pt;
    margin: 12px 12px;
    padding: 0;
	}
	
.layout_productname_c{
	top: 22px !important;	
}
.dialog-content-sbnetwork-body {
	border: 0px !important;
}
.inventory-table .header, .inventory-table .rich-sdt-header-cell,
.otTable .header, .otTable .rich-sdt-header-cell{
	/*sortable table headers*/
	font-size: 10pt;
	font-family: Arial,Helvetica, sans-serif;
	color: #000066 !important; /* should act as link */
	background-color: #eeeeee;
	background-image: url(../images/button_gradient_h18.gif);
	background-repeat: repeat-x;
	background-position: center center;
	border-bottom: 1px solid #797997;
	border-right: 1px solid #797997;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	
}
.listShuttle .rich-shuttle-source-cell-selected,.rich-shuttle-source-row-selected, .rich-shuttle-target-row-selected
{
	color:#ffffff !important;
	 background-color: #4394DC;
}
.margin-label {
	margin-left: 12px;
	width:150px;
}
/** Assign NEs **/
.listShuttle .rich-shuttle-source-caption, 
.listShuttle .rich-shuttle-target-caption {
	padding: 0 0 3px 0;
}
.labelwithtextalign {
	vertical-align:text-top !important;
}
