/***************************** START:OT BASIC STYLES ****************************/
body, p, td {
    font-size: 10pt !important;
    color: #000000 !important;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    font-weight: normal;
    font-size: 10pt !important;
    color: #000066 !important;
}

h1, .pageTitle {
    font-weight: bold;
    font-size: 12pt !important;
    color: #000066;
}

h2, .subtitleGroup {
    font-weight: bold;
    font-size: 10pt;
    color: #000066;
}

h3, h4, h5, h6 {
    font-weight: bold;
    font-size: 10pt;
    color: #000066;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

form {
    margin: 0;
    padding: 0;
}

option:hover {
    background-color: #bbd6fc;
}

textarea {
    font: 10pt Arial;
    color: #000000;
    border: 1px solid #797997;
    padding: 0 0 0 6px;
}

textarea[disabled], .disabledLabel {
    color: graytext;
}

/*-------------------- Start:OTWEB CSS --------------------*/
* html #otcontentArea {
    width: expression(document.body.clientWidth <   1100 ?   "1100px" : "100%");
}

#otcontentArea {
    width: 98%;
    float: left;
    padding: 12px;
    min-width: 1100px;
}

#otsectionDiv {
    width: 100%;
    float: left;
    margin-bottom: 12px;
}

#otproductsImg {
    padding: 116px 0 24px 24px;
    vertical-align: bottom;
    height: 160px;
}

#otproductName {
    position: absolute;
    top: 158px;
    left: 208px;
    width: 268px;
}

#otproductName .moretxt {
    max-height: 38px;
    height: 38px;
    overflow: hidden;
    vertical-align: baseline;
}

.otLDproductFamily {
    color: #666666;
    line-height: 18px;
}

#otnokiasiemensLogo {
    position: absolute;
    top: 40px;
    right: 24px;
    float: right;
    width: 148px;
    height: 66px;
}

.otproductFamily {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.otproductName {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #666666;
    height: 36px;
    max-width: 268px;
    width: 268px;
    overflow: hidden;
    vertical-align: baseline;
}

.otLDproductName {
    font-weight: bold;
    font-size: 18px;
    color: #666666;
    height: auto;
    max-width: 268px;
    width: 268px;
    overflow: hidden;
    line-height: 18px;
    vertical-align: baseline;
}

.otversionText {
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    color: #666666;
}

.otcopyright {
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    color: #999999;
    padding: 20px 0 23px 0;
    vertical-align: bottom;
}

.otcopy_symbol {
    vertical-align: -1px;
    line-height: 11px;
    font-weight: normal;
    font-size: 12px;
    color: #999999;
}

.otFGLbtMargin {
    margin-left: 10px;
}

/*---------------------- Start:Form ----------------------*/
label, .otlabel {
    color: #000066;
    font: 10pt Arial,Verdana,sans-serif;
    margin: 0px;
    padding-right: 12px; /* minimum distance between label and control */
    
}

.otDialog label, .dialogAlign label {
    line-height: normal !important; /* To override main.css wrong line-height */
}

/* TO BE REMOVED ONCE MANDATORY FIELDS ARE DONE
 .otformRow {
    padding-left: 2px;
}

.otformRow input {
    margin-left: 8px;
    width: 140px;
    height: 22px;
    border: 1px solid #797997;
}

.otformRow .otmandatoryGroup {
    width: 8px;
    height: 20px;
    position: absolute;
    margin-top: 1px;
    *margin-top: 2px;
    background: url("../images/mandatory_body.png") repeat-y 0 0;
}

.otformRow .otmandatoryBorderTop {
    width: 7px;
    height: 18px;
    margin: -1px 0 0 1px;
    position: absolute;
    background: url("../images/mandatory_top_bottom.png") no-repeat top right;
}

.otformRow .otmandatoryBorderBottom {
    width: 7px;
    height: 21px;
    margin: 0 0 0 1px;
    position: absolute;
    background: url("../images/mandatory_top_bottom.png") no-repeat bottom right;
}

.otformRow .otasterisk {
    position: absolute;
    bottom: 1px;
    right: 1px;
    margin: -2px 0;
}

.otformRow textarea {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #797997;
    padding: 0 0 0 6px;
    margin-left: 10px;
    width: 135px;
}

.otformRow  option {
    margin-bottom: 5px;
    margin-top: 5px;
}

.otformRow select {
    margin-left: 8px;
    width: 140px;
    max-width: 142px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #797997;
}

* html .otformRow select {
    width: expression(document.body.clientWidth <   200px ?   "190px" : "100%");
}

.otselectBox {
    border: 1px solid #797997;
    padding: 0 0;
}
*/

/*------------------ Start:Input field ------------------*/
#otIFcontainer {
    margin-top: 20px;
    margin-left: 20px;
    width: auto;
    height: auto;
    border: 0;
}

.otformRow .otIFmandatory1 {
    background-color: rgb(255, 0, 0);
    border: 2px solid #ff0000;
}
/****************************** END:OT BASIC STYLES *****************************/

/***************************Make spinners OT compliant***************************/

.rich-spinner-c {
    border: 1px solid #797997;
}

.rich-spinner-c .rich-spinner-input-container{
    background-image: none;
    border: none;
}

.rich-spinner-c .rich-spinner-input-container .rich-spinner-input {
    padding: 2px 3px;
}

.rich-spinner-c .rich-spinner-input-container input.rich-spinner-input {
	/* used for numeric values, so align to the right */
	text-align: right;
	margin: -1px 0px\9; /* hack for >=IE6*/
}

.rich-spinner-c td {
	/* due to a conflict with a rule from orangeTouch.css we need to make
	 the spinner buttons vertically centered*/
	vertical-align: middle;
}

/********************************************************************************/
input[type=text], input.text  {
	font: 10pt Arial;
	color: #000000 !important;
    padding: 2px 5px !important; /*make text boxes have correct size*/
    border: 1px solid #797997;
}

input[type=text][readonly], input[type=text][disabled] {
    background-color: #EBE9ED;
}
input.rich-spinner-input[type=text][readonly], input.rich-spinner-input[type=text][disabled], input.rich-spinner-input[type=text] {
    border: 0px !important;
}

/** Fix for buttons text alignment */
input.button {
    padding: 0 3px 1px !important;
}

select {
	font: 10pt Arial;
    color: #000000 !important;
    border: 1px solid #797997;
    height: 22px;
}

select[disabled], input.text[disabled], input[type=text][disabled] {
    color: graytext !important;
}


/**** mandatory fields */
.mandatoryGrid input[type=text], .mandatoryGrid textarea, .mandatoryGrid select, .mandatoryGrid .dr-spnr-c {
	margin-left: 8px;
}

.mandatoryGrid input.mandatoryInput, input.mandatory, .mandatoryGrid .dr-spnr-c input[type=text]{
  margin-left: 0px;
}

.mandatoryOn {
  width: 7px;
  display: block;
  float: left;
  background: url("../images/mandatory.png") 0 50% repeat-y;
  border-top: 1px solid #797997;
  border-bottom: 1px solid #797997;
  border-left: 1px solid #797997;

  border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}