<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Bookshelf</display-name>

	<!-- *********************************************  -->
	<!-- **************** LISITENERS  *****************  -->
	<!-- *********************************************  -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>
			bookshelf.frontend.listener.ApplicationContextInitializer
		</listener-class>
	</listener>

	<!-- *********************************************  -->
	<!-- ***************** FILTERS  ******************  -->
	<!-- *********************************************  -->

	<filter>
		<filter-name>BookshelfFilter</filter-name>
		<filter-class>bookshelf.frontend.filter.LoginFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>BookshelfFilter</filter-name>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>BookshelfFilter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

	<!-- *********************************************  -->
	<!-- ************ STRUTS FILTER  *****************  -->
	<!-- *********************************************  -->

    <filter>
        <filter-name>StrutsFilter</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>

    <filter-mapping>
        <filter-name>StrutsFilter</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>
	
	<jsp-config>                                                                                                                                                              
        <taglib>                                                                                                                                                            
	    	<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>                                                                                                      
		    <taglib-location>/WEB-INF/tld/std/c.tld</taglib-location>                                                                                                           
		</taglib>                                                                                                                                                           		
	</jsp-config>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
</web-app>